<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ClientePrac2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ClientePrac2.Properties.Settings>
            <setting name="ClientePrac2_localhost_CompraProcessService" serializeAs="String">
                <value>http://localhost:8080/ode/processes/CompraProcess</value>
            </setting>
            <setting name="ClientePrac2_localhost_GestionAlmacen" serializeAs="String">
                <value>http://localhost:9080/ServiciosPracticaNueva/services/GestionAlmacen</value>
            </setting>
            <setting name="ClientePrac2_localhost_GestionProveedor2" serializeAs="String">
                <value>http://localhost:9080/ServiciosPracticaNueva/services/GestionProveedor2</value>
            </setting>
            <setting name="ClientePrac2_localhost_GestionProveedor3" serializeAs="String">
                <value>http://localhost:9080/ServiciosPracticaNueva/services/GestionProveedor3</value>
            </setting>
            <setting name="ClientePrac2_localhost_GestionProveedor1" serializeAs="String">
                <value>http://localhost:9080/ServiciosPracticaNueva/services/GestionProveedor1</value>
            </setting>
        </ClientePrac2.Properties.Settings>
    </applicationSettings>
</configuration>